<template>
    <div>
        <v-card class="my-8 mx-auto" width="50%" v-if="mostrarForm">
            <v-btn absolute dark fab top right color="red" @click="mostrarForm = !mostrarForm">
                <v-icon>mdi-close</v-icon>
            </v-btn>

            <v-container>
                <div class="mb-4">Nova anotacao</div>
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Descricao" outlined v-model="contaAtual.descricao" hide-details>
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-select :items="tipo" label="Tipo" outlined v-model="contaAtual.tipo" hide-details></v-select>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Valor" outlined v-model="contaAtual.valor" hide-details type="number">
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-menu ref="menu" v-model="menu" :close-on-content-click="true" :return-value.sync="data" transition="scale-transition" offset-y min-width="auto">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="dataFormatada" label="Picker in menu" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on" outlined></v-text-field>
                            </template>
                                <v-date-picker v-model="contaAtual.data" no-title scrollable @input="formatarData">
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="menu = false">
                                        Cancel
                                    </v-btn>
                                    <v-btn text color="primary" @click="$refs.menu.save(date)">
                                        OK
                                    </v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col>
                        <v-textarea outlined label="Obsercacoes" v-model="contaAtual.observacoes">
                        </v-textarea>
                    </v-col>
                </v-row>

                <v-card-actions>
                    <v-row justify="center" class="mb-3 mt=0">
                        <v-btn color="blue" @click="salvar" class="mx-1">Salvar</v-btn>
                        <v-btn color="red" @click="cancelar" class="mx-1">Cancelar</v-btn>
                    </v-row>
                </v-card-actions>
            </v-container>
        </v-card>
        
        <!-- MOSTRAR NA TABELA INFORMACOES DA CONTA -->
        <v-data-table :headers="cabecalho" :items="contas" class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Contas cadastradas</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-btn color="blue" @click="abrirFormulario" v-if="!mostrarForm">Nova conta</v-btn>
                </v-toolbar>
            </template>

            <template v-slot:no-data>
                <v-subheader color="primary">Nenhuma conta cadastrada</v-subheader>
            </template>

            <template v-slot:item.valor="{ item }">
                R$ {{ item.valor.toFixed(2) }}
            </template>

            <template v-slot:item.acoes="{ item }">
                <v-icon small class="mr-2" @click="detalhes(item)">mdi-magnify</v-icon>
                <v-icon small @click="excluir(item)">mdi-trash-can</v-icon>
            </template>

            <template v-slot:item.data="{ item }">
                {{ ISOtoBR(item.data) }}
            </template>

            <template v-slot:body.append>
                <v-toolbar flat>
                    <v-toolbar-title> Total:</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-card flat :class="balanco>=0 ? 'green--text' : 'red--text' ">
                        R$ {{balanco.toFixed(2)}}
                    </v-card>
                </v-toolbar>
            </template>
        </v-data-table>

        <v-dialog v-model="excluirSS" persistent max-width="290">
        <v-card>
            <v-card-title class="text-h5">
            Deletar conta?
            </v-card-title>
        <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="excluirSS = false">
            Disagree
        </v-btn>
        <v-btn color="green darken-1" text @click="confirmarExclusao">
            Agree
        </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DIALOG COM DETALHES DA CONTA -->

    <v-dialog v-model="detalhesLog" max-width="450">
        <v-card>
            <v-card-title class="text-h5">
            Detalhes da conta
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Descricao" outlined :value="contaAtualDetalhes.descricao" hide-details readonly>
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-select :items="tipo" label="Tipo" outlined :value="contaAtualDetalhes.tipo" hide-details readonly></v-select>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Valor" outlined :value="contaAtualDetalhes.valor" hide-details type="number" readonly>
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Data" outlined :value="ISOtoBR(contaAtualDetalhes.data)" hide-details readonly>
                        </v-text-field>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col>
                        <v-textarea outlined label="Obsercacoes" :value="contaAtualDetalhes.observacoes" readonly>
                        </v-textarea>
                    </v-col>
                </v-row>

            </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="fecharDetalhes">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>

    </v-dialog>

    </div>  
</template>

<script>
import contaHttp from "./contaHttp"

export default {
    data() {
        return {
            mostrarForm: false,
            contaAtual: {},
            geradorID: 0,
            balanco: 0, 
            contaExcluir: null,
            excluirSS: false,
            detalhesLog: false,
            dataFormatada: "",
            menu: false,
            tipo: ["Receita", "Despesa"],
            cabecalho: [{
                text: "Descricao",
                value: "descricao"
            },
            {
                text: "Tipo",
                value: "tipo"
            },
            {
                text: "Valor",
                value: "valor"
            },
            {
                text: "Data",
                value: "data",
            },
            {
                text: "Acoes",
                value: "acoes",
                sortable: false
            },
            ],
            contas: [],
            contaAtualDetalhes: {
                valor: 0,
                data: ""
            },
        }
    },

    created(){
        this.Initialize()
    },

    methods: {
        Initialize(){
            contaHttp.buscarTodos().then((contas) => {
                this.contas = contas
                this.soma()
            })
        },

        fecharDetalhes(){
            this.detalhesLog = false
        },

        salvar(){
            let copiaConta = {}
            Object.assign(copiaConta, this.contaAtual)
            copiaConta.valor = parseFloat(copiaConta.valor)

            contaHttp.adicionar(copiaConta).then((resp) => {
                if (resp.status == 200){
                    window.alert("Conta inserida com sucesso")
                    this.Initialize()
                    this.cancelar()
                }else{
                    alert("Nao foi possivel inserir a conta")
                } 
            })
        },

        cancelar(){
            this.contaAtual = {}
            this.mostrarForm = false
            this.contaExcluir = null
        },
        
        abrirFormulario(){
            this.mostrarForm = true
        },

        detalhes(conta){
            this.detalhesLog = true
            this.contaAtualDetalhes = conta
        },

        excluir(conta){
            this.excluirSS = true
            this.contaExcluir = conta
        },

        confirmarExclusao(){
            contaHttp.deletar(this.contaExcluir).then((resp) => {
                if (resp.status == 200){
                    alert("Conta excluida com sucesso")
                    this.Initialize()
                    this.excluirSS = false 
                }else{
                    alert("Nao foi possivel excluir a conta")
                }
            })
        },

        soma(){
            this.balanco = 0
            this.contas.forEach((conta) => {
                if(conta.tipo === "Receita"){
                    this.balanco += conta.valor
                }else{
                    this.balanco -= conta.valor
                }
            });
        },

        formatarData(){
            this.dataFormatada = this.ISOtoBR(this.contaAtual.data)
        },

        ISOtoBR(data) {
            data = data.slice(0, 10)
            const [ano, mes, dia] = data.split("-")
            return `${dia}/${mes}/${ano}`
    }

    }
}
</script>

<style>

</style>