<template>
  <div class="home">
    <v-container fluid>
      <v-row justify="center">
        <h1>Seja bem vindo ao controle de gastos</h1>
      </v-row>

      <v-row>
        <v-img src="https://sm.ign.com/ign_br/tv/o/one-piece-/one-piece-2_1xby.jpg" contain aspect-ratio="1.7" max-height="700">

        </v-img>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: 'Home',

  }
</script>
