<template>
    <div>
        <v-container>
            <v-card>
                <v-card-title>Relatorio de gastos</v-card-title>
            </v-card>
            <v-card class="mt-4 mx-auto" color='blue' max-width=1400>
                <v-sparkline :labels="rotulos" :value="valores" color="black" line-width="1" padding="16"></v-sparkline>
            </v-card>
            <v-card color="green" class="my-4" dark>
                <v-card-title> Receita anual: R$ {{ this.totalR }} </v-card-title>
            </v-card>
            <v-card color="red" class="my-4" dark>
                <v-card-title> Despesa anual: R$ {{ this.totalD }} </v-card-title>
            </v-card>
        </v-container>
    </div>
</template>

<script>
import contaHttp from "./contaHttp"

export default {
    data: () => ({
      totalR: 0,
      totalD: 0,
      rotulos: [],
      valores: [],
      contas: [],
      meses: ['Jan', 
      'Fev', 
      'Mar', 
      'Abr', 
      'Mai', 
      'Jun', 
      'Jul', 
      'Ago', 
      'Set', 
      'Out', 
      'Nov', 
      'Dez'],
    }),

    created(){
        this.buscar()

    },

    methods: {
        Initialize(){

            let hoje = new Date().toISOString().slice(0, 10)
            let ano = hoje.slice(0,4)
            let mes = hoje.slice(5,7)
            this.rotulos = this.meses.slice(0, parseInt(mes))
            this.valores = new Array(parseInt(mes)).fill(0)

            this.contas.forEach((conta) => {
                if (ano === conta.data.slice(0, 4)){
                    let mesConta = conta.data.slice(5,7)
                    if (conta.tipo == "Receita"){
                        this.valores[mesConta-1] += conta.valor
                        this.totalR += conta.valor
                    }else{
                        this.valores[mesConta-1] -= conta.valor
                        this.totalD += conta.valor
                    }

                }
            });

        },

        buscar(){
            contaHttp.buscarTodos().then((contas) => {
                this.contas = contas
                this.Initialize()
            })
        }

    }
  }
</script>

<style>

</style>