<template>
    <div>
        <v-card class="my-8 mx-auto" width="50%" v-if="mostrarForm">
            <v-btn absolute dark fab top right color="red" @click="mostrarForm = !mostrarForm">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-container>
                <div class="overline mb-4">{{ formTitulo }} </div>
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Nome" outlined v-model="usuarioAtual.nome">
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Username" outlined v-model="usuarioAtual.username">
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field label="E-mail" outlined v-model="usuarioAtual.email">
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field label="Senha" outlined v-model="usuarioAtual.senha">
                        </v-text-field>
                    </v-col>
                </v-row>
            </v-container>

            <v-card-actions>
                    <v-btn color="blue" @click="salvar" class="mx-1">Salvar</v-btn>
                    <v-btn color="red" @click="cancelar" class="mx-1">Cancelar</v-btn>
            </v-card-actions>
            
        </v-card>

        <v-data-table :headers="cabecalho" :items="usuarios" sort-by="calories" class="elevation-1">
            <template v-slot:top>
            <v-toolbar flat>
                <v-toolbar-title>Usuarios cadastrados</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-btn color="blue" @click="abrirFormulario" v-if="!mostrarForm">Novo Usuario</v-btn>
            </v-toolbar>
            </template>

            <template v-slot:item.acoes="{ item }">
            <v-icon small class="mr-2" @click="editar(item)">mdi-pencil</v-icon>
            <v-icon small @click="ativarInativar(item)">
                {{ item.ativo ? "mdi-cancel" : "mdi-check-bold" }}
            </v-icon>
            </template>

            <template v-slot:no-data>
            <v-subheader color="primary">Nenhum usuario cadastrado</v-subheader>
            </template>
        </v-data-table>
    </div>
</template>

<script>
  import usuarioHttp from "./usuarioHttp"

  export default {
    data: () => ({
        itemEdicao: null,
        usuarios: [],
        usuarioAtual: {},
        mostrarForm: false,
        cabecalho: [
            {
                text: "Nome",
                value: "nome",
            },
            {
                text: "Username",
                value: "username",
            },
            {
                text: "E-mail",
                value: "email",
            },
            {
                text: "Acoes",
                value: "acoes",
            },
        ]
    }),
    computed: {
      formTitulo () {
        return this.itemEdicao === null ? 'New User' : 'Edit User'
      },
    },
    created () {
      this.initialize()
    },

    methods: {
      initialize () {
          usuarioHttp.buscarTodos().then((usuarios) => {
              this.usuarios = usuarios
          })
        },
    abrirFormulario (){
        this.mostrarForm = ! this.mostrarForm
    },

    editar(user){
        this.mostrarForm = true
        let copyUser = {}
        Object.assign(copyUser, user)
        this.usuarioAtual = copyUser
        this.itemEdicao = copyUser
    },

    salvar(){
        if (this.itemEdicao == null){
            this.adicionar()
        }else{
            this.salvarEdicao()
        }
        this.mostrarForm = false
        this.cancelar()
    },

    salvarEdicao(){
        usuarioHttp.editar(this.itemEdicao).then((response) => {
            if (response.status == 200){
                window.alert("Usuario alterado com sucesso")
                this.initialize()
            }else{
                window.alert("Nao foi possivel alterar as informacoes do usuario")
            }
        })
    },

    adicionar(){
        let userCopy = {}
        Object.assign(userCopy, this.usuarioAtual)
        userCopy.ativo = true
        
        usuarioHttp.adicionar(userCopy).then((response) => {
            if (response.status == 200){
                window.alert("Usuario inserido com sucesso")
                this.initialize()
            }else{
                window.alert("Nao foi possivel inserir o usuario")
            }
        })
    },
    
    cancelar(){
        this.usuarioAtual = {}
        this.itemEdicao = null
    },

    ativarInativar(usuario){
        if (confirm("Deseja alterar o status desse usuario?")){
            usuario.ativo = ! usuario.ativo
            usuarioHttp.editar(usuario).then((response) => {
                if (response.status == 200){
                    window.alert("Status alterado!")
                    this.initialize()
                } else{
                    window.alert("Nao foi possivel alterar o status.")
                }
            })
        }
    

    },

    }    
  }
</script>


<style></style>