<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
    <v-list dense>
      <v-list-item 
      link 
      :to="rota.rota"
      v-for="(rota, index) in rotas" 
      :key="index"
      >
        <v-list-item-action>
            <v-icon>{{ rota.icon }} </v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>{{ rota.nome }} </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="blue" dark>
      <v-toolbar-title>Controle de contas</v-toolbar-title>
    </v-app-bar>

    <v-main>

        <router-view></router-view>

    </v-main>

    <v-footer color="blue" app>

      <span class="white--text">
        Fabrica Online - High &copy;{{ new Date().getFullYear() }}
      </span>

    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data: () => ({ drawer: null,
    rotas:[
      {
        nome: "Home",
        icone: "mdi-home",
        rota: "/"
      },
      {
        nome: "Contas",
        icone: "mdi-cash",
        rota: "/contas"
      },
      {
        nome: "Usuarios",
        icone: "mdi-account",
        rota: "/usuarios"
      },
      {
        nome: "Relatorios",
        icone: "mdi-align-vertical-bottom",
        rota: "/relatorio"
      }
      ]
      })
  }
</script>